.Coin_sprite {
  background: url(../../assets/images/coin.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
}
@keyframes coinFloat {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}
.Coin_shadow {
  background: url(../../assets/images/coin-shadow.png) no-repeat no-repeat;
}
